<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên Khóa Học</th>
      <th scope="col">Trình Độ</th>
      <th scope="col">Thời Gian Tạo</th>
    </tr>
  </thead>
  <tbody>
      {{#each course}}
    <tr>
      <th scope="row">{{summary @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.created_at}}</td>
      <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
      </td>
      <td>
          <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target ="#exampleDelete">Xóa</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- Confirm delete course --}}

<div id="exampleDelete" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nofication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Xóa Khóa Học ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" id = "btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>
{{!--Delete hidden form --}}
   <form name="delete-courseform" method="Post"></form>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var courseID;
    var deleteform = document.forms['delete-courseform'];
    $('#exampleDelete').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); 
    var id = button.data('id');
    courseID = id;
  });
    var btnDelete = document.getElementById('btn-delete-course');
    btnDelete.onclick = function() {
         deleteform.action = '/courses/' + courseID + '?_method=delete';
         deleteform.submit();
    }
})
</script>